/*animaciones*/


@keyframes mostrar-slide {
    0% { opacity: 0; -webkit-transform: translateY(-100%); }
    50% { opacity: 0; -webkit-transform: translateY(-35%); }   
  100% { opacity: 1; -webkit-transform: translateY(0); }
}


@keyframes invalid-slide {
    0% { opacity: 0; -webkit-transform: translateX(-45%); }
  100% { opacity: 1; -webkit-transform: translateX(0); }
}

/****************************
 ***********BODY************* 
 ***************************/


 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, width 1s;
    letter-spacing: 1px;
    text-rendering: optimizelegibility;
}

body{
    line-height: 1.5;
    font-size: 12px;
    font-family: 'FlamaRegular', Helvetica, Arial, sans-serif;
    min-width: 360px;
}

@font-face {
    font-family: 'FlamaRegular';
    src: url('../fonts/FlamaBookRegular.otf');
    font-weight: normal;
    font-style: normal;
}

a{
    text-decoration: none;
    color: black;
}

.none{
    display: none;
}

.block{
    display: block;
}

.w-33{
    width: 33%;
}


.f_96{
    font-size: 0.8;
}
.f-24{
    font-size: 2em;
}

.f-18{
   font-size: 1.5em; 
}

.f-30{
    font: 2.5em;
}
/************** HEADER **************
*************************************/




/*****CESTA******/


.ctn-articulo{
    top: 72px;
    right: 58px;
    padding-left: 6.4px;
    padding-top: 1px;
    height: 24px;
    width: 24px;
    position: absolute;
    border-radius: 20px;
    background: #000000;
    color: white;
    font-size: 1.1em;
    border: 2px solid white;
}

.btn-cesta{
    background: #ddd4bb;
    height: 0px;
    width: 40px;
    padding: 24px;
    display: block;
    position: relative;
    top: 40px;
    border-radius: 10px;
    right: -16px;
    z-index: 0;
    box-sizing: content-box;
    transition: all 300ms ease-out;
}

 .btn-cesta img{
    position: absolute;
    top: -3px;
    width: 41px;
    left: 24px;
    bottom: 0;
    z-index: 5;
    background: transparent;
}

.box-cesta{
    position: relative;
    top: -30px;
    right: 6px;
    left: -17px;
    bottom: 0px;
    box-sizing: content-box;
}

.btn-cesta:after{
    width: 40px;
    height: 31px;
    position: absolute;
    left: 17px;
    top: -12px;
    padding: 7px;
    border-radius: 26px;
    background: #ddd4bb;
    transition: all 300ms ease-out;
    content: "";
   /* -ms-transform: translate(60px,100px); 
    -webkit-transform: translate(50px,100px); 
    transform: translate(20px,-30px); */
}

.btn-cesta:hover{
    background: #000000;
    transition: all 300ms ease-in;
}

.btn-cesta:hover:after{
    background: #000000;
    transition: all 300ms ease-in;
}


/****************************
*******ITEMS CESTA **********/
.caja-display-items{
    position: absolute;
    top: 115px;
    right: 25px;
    width: 366px;
    border-radius: 4px;
    background: rgb(221, 212, 187);
    padding: 35px 0px;
}
#mini-content-items{
    display: flex;
    flex-direction: column;
}

.info-content-items{
    line-height: 1.5;
    padding: 27px 20px 0;
}

.bag-items{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 30px;
    border-bottom: 2px solid rgb(160, 159, 159);
}

.btn-close{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 25px;
}

.iclose{
    padding-left: 5px;
    transform: rotate(-46deg);
}

/**********
*** FORM ***
************/

.showform{
    display: block;
    animation: mostrar-slide .45s ease-in-out;
    -moz-animation: mostrar-slide .45s ease-in-out;
}


.msgpas{
    color: tomato;
    font-style: italic;
}
.invalid{ 
    animation: invalid-slide 250ms ease;
    position: relative;
    display: inline-block!important;
    right: -25px;
    color: tomato;
    font-size: .7em;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

valid{
    animation: invalid-slide 250ms ease;
    position: relative;
    display: inline-block!important;
    right: -25px;
    color: #4CAF50;
    font-size: .7em;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/************************************************
************ ***********MAIN ******************************
***********************************************/


/*****************section header *****************/

h1{
    color: black;
}
#header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 20px 0px 12px 0px;
}



.formreg{
    display: none;
}

.box-login{
    width: 44px;
    padding-right: 11px;
}

.box-logo{
    display: flex;
    flex-direction: column;
    align-items: end;
    color: white;
    border: 1px solid black;
}

.box-logo img{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 170px;
}

.content-login-cesta{
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    border: 1px solid black;
}
.box-bur{
    border: 1px solid black;
}

/*****registro y login**
***************************/

#content-log-registro{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


.clientereg{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.titulo-centro {
    display: flex;
    justify-content: center;
}

.text-left{
    text-align: left;
}
.user-log{
    
}