/*animaciones*/


@keyframes mostrar-slide {
    0% { opacity: 0; -webkit-transform: translateY(-100%); }
    50% { opacity: 0; -webkit-transform: translateY(-35%); }   
  100% { opacity: 1; -webkit-transform: translateY(0); }
}


@keyframes invalid-slide {
    0% { opacity: 0; -webkit-transform: translateX(-45%); }
  100% { opacity: 1; -webkit-transform: translateX(0); }
}

/****************************
 ***********BODY************* 
 ***************************/
#body-login{
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(19,19,19,1) 53%, rgba(17,17,17,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(19,19,19,1) 53%, rgba(17,17,17,1) 100%);
    background: linear-gradient(180deg, rgb(41, 41, 41) 0%, rgb(18, 18, 18) 15%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#111111",GradientType=1);
}

 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, width 1s;
    letter-spacing: 1px;
    text-rendering: optimizelegibility;
}

body{
    line-height: 1.5;
    font-size: 12px;
    font-family: 'FlamaRegular', Helvetica, Arial, sans-serif;
    min-width: 360px;
}

.main-login{
    background: url(../img/background-login-transp.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}

@font-face {
    font-family: 'FlamaRegular';
    src: url('../fonts/FlamaBookRegular.otf');
    font-weight: normal;
    font-style: normal;
}

a{text-decoration: none;color: white;}


/************** HEADER **************
*************************************/


/*****CESTA******/

.ctn-articulo{
    top: 72px;
    right: 58px;
    padding-left: 6.4px;
    padding-top: 1px;
    height: 24px;
    width: 24px;
    position: absolute;
    border-radius: 20px;
    background: white;
    color: black;
    font-size: 1.1em;
    font-weight: 600;
    border: 2px solid black;
    z-index: 2;
}

.btn-cesta{
    background: linear-gradient(to right, #2b40c9, rgba(43, 53, 146, 0.9));
    height: 0px;
    width: 40px;
    padding: 24px;
    display: block;
    position: relative;
    top: 40px;
    border-radius: 10px;
    right: -16px;
    z-index: 1;
    box-sizing: content-box;
    transition: all 300ms ease-out;
}

 .btn-cesta img{
    position: absolute;
    top: 2px;
    width: 41px;
    left: 24px;
    bottom: 0;
    z-index: 5;
    background: transparent;
}

.box-cesta{
    position: relative;
    top: -30px;
    right: 6px;
    left: -17px;
    bottom: 0px;
    box-sizing: content-box;
}

.btn-cesta:after{
    width: 40px;
    height: 31px;
    position: absolute;
    left: 17px;
    top: -12px;
    padding: 7px;
    border-radius: 26px;
    background: linear-gradient(to right, #2a3ec0, rgb(42, 53, 147));
    transition: all 800ms ease-out;
    content: "";
   /* -ms-transform: translate(60px,100px); 
    -webkit-transform: translate(50px,100px); 
    transform: translate(20px,-30px); */
}

.btn-cesta:hover{
  transition: all 100ms ease-out;
  background: whitesmoke; 

}

.btn-cesta:hover:after{
    background: whitesmoke;
    transition: all 660ms ease;
    transform: translateY(25px);
}

/****************************
*******ITEMS CESTA **********/

.caja-display-items{
    position: absolute;
    top: 115px;
    right: 25px;
    width: 366px;
    border-radius: 4px;
    background:linear-gradient(to right, #21319f, rgb(31, 39, 109));
    padding: 35px 0px;
    z-index: 0;
}
#mini-content-items{
    display: flex;
    flex-direction: column;
}

.info-content-items{
    line-height: 1.5;
    padding: 27px 20px 0;
}

.bag-items{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 30px;
    border-bottom: 2px solid rgb(160, 159, 159);
}

.btn-close{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 25px;
}

.iclose{
    padding-left: 5px;
    transform: rotate(-46deg);
    cursor: pointer;
}

/**********
*** FORM ***
************/

.showform{
    display: block!important;
    animation: mostrar-slide .65s ease-out;
    -moz-animation: mostrar-slide .65s ease-out;
}

.msgpas{
    color: tomato;
    font-style: italic;
}
.invalid{ 
    animation: invalid-slide 250ms ease;
    position: relative;
    display: inline-block!important;
    right: -25px;
    color: tomato;
    padding-top: 3px;
    font-size: .9em;
    overflow: auto;
    font-style: italic;
    height: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

valid{
    animation: invalid-slide 250ms ease;
    position: relative;
    display: inline-block!important;
    right: -25px;
    color: #4CAF50;
    font-size: .7em;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/************************************************
*********************** MAIN ******************************
***********************************************/


/*****************section header *****************/

h1{
    
    color: black;
}
#header{
    width: 100%;
    padding: 0px 0px 12px 0px;
}

.formreg{display: none;}

.box-login{
    width: 20%;
    padding-right: 11px;
}

.box-logo img{display: block;}
.logo{width: 170px;}

.content-login-cesta{
    padding-right: 60px;
}
.box-bur{
    padding-left: 60px;
}

.box-bur h2{
    padding-left: 15px;
}

/*********** REGISTRO y LOGIN ************
***************************************/

.clientereg{
    width: 40%;
    padding-right: 40px;
    padding-left:7%;
    position: relative;
    top: 0;
    left: 0;
}
.contenedor-formulario{
    width: 100%;
    position: absolute;
    top: -60px;
    left: 40px;
    border: 1px solid rgb(65, 65, 70);
    background:linear-gradient(to right, #2b40c9, rgba(43, 53, 146, 0.9));
    z-index: 1;
}
.newcuenta{
    padding: 20px;
    font-weight: 700;
    font-stretch: expanded;
    text-transform: uppercase;
}
 
.text-left p{
    padding: 20px;
    line-height: 2em;
}

.btn-cuenta{
    text-transform: uppercase;
    padding: 20px;
    font-weight: 700;
}


.text-left{text-align: left;}

/******* LOG **********/
.formlog{height: 80%;}

.log-intro{
    margin-top: 35px;
    width: 100%;
    margin-bottom: 20px;
}

.user-log{
    padding-right: 136px;
    padding-left: 4%;   
}

.link-border{
    margin-top: 22px;
    padding: 0px 9px 2px 0px;
    display: flex;
    width: 156px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    font-weight: 700;
    color:white;
}

.box-btn-entrar{
    margin-top: 40px;
    padding-left: 20px;
}

.f-fstar-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pro{
    transform: rotateZ(10deg);
    font-size: 5em;
    background: -webkit-linear-gradient(#ff1313c9,#b11818cc, #0000005e);
    font-weight: 900;
    width: 75px;
    text-shadow: 6px 4px 9px #a59999a6;
    -webkit-background-clip: text;
    height: 10%;
    filter: blur(2px);
    margin-right: 31px;
    -webkit-text-fill-color: transparent;
}

/**********************************
************ Animacion Botones*****
***********************************/
.btn, .relleno{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0;
    border: 0px;
    background: transparent;
}
.btn:after{
    content: "";
    width: 100%;
    padding: 0px;
    position: absolute;
    left: 0;
    transform: translate(0px,-20px);
    height: 0%;
    opacity: 0;
    transition: all 250ms ease;
    outline: 1px solid white;
    overflow: hidden;

}
.btn:hover:after{
    content:"";
    transform: translate(1px,-1px);
    width: 99%;
    height: 0%;
    opacity:1;
    transition: all 250ms ease;
    outline: 1px solid white;
}
.btn:hover:before{
    content:"";
    width: 98.5%;
    transform: translate(0px,56px);
    height: 0%;
    opacity:1;
    transition: all 250ms ease;
    outline: 1px solid white;
}
.btn:before{
    content: "";
    width: 100%;
    padding: 0px;
    position: absolute;
    right: 0;
    opacity: 0;
    transform: translate(0px,75px);
    height: 0%;
    transition: all 250ms ease;
    outline: 1px solid white;
    overflow: hidden;
}
.relleno{
    color:#ffffff;
    letter-spacing: 1px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 300ms cubic-bezier(.35,.04,.49,1.03) 300ms;
}
.relleno:after{
    content:"";
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 2px;
    left: 0;
    right: 0;
    display: block;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    z-index: -1;
    transition: transform 300ms cubic-bezier(.35,.04,.49,1.03) 200ms;
}

.relleno:hover:after {    /**posicion inicial**/
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.relleno:hover, .btn:hover {
    color: black;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 480ms;
}

/*****************************************
*************** FOOTER *************
*****************************************/

.containt-footer-principal{
    display: flex;
}

.menu-foot ul li a{
    color:black;
}